build
pencil
pencil.out
Drawable.o
main.o
mainwindow.o
Line.o
moc_mainwindow.cpp
moc_mainwindow.o
moc_predefs.h
Point.o
Polygon.o
ui_mainwindow.h
.qtcreator
mainwindow.ui.autosave
mainwindowButtons.o
